#root {
  .welcome {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: 100%;
      height: 80vh;
      margin: 10px 0px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 50% 50% / 100%, url(https://media.giphy.com/media/XZg1znDzsQ1tHeqnQu/giphy.gif);
      background-position: center;
      background-size: contain;

      .info-icon {
        position: absolute;
        padding-top: 15px;
        right: 15px;
      }

      .title-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .main-title {
          font-size: 5rem;
          font-weight: bold;
          color: white;
          margin-bottom: 16px;
        }

        .sub-title {
          margin-bottom: 20px;
          font-weight: bold;
          color: gray;
        }

        .start-btn {
          .game-start {
            min-width: 10rem;
            font-size: 1.5rem;
            font-weight: bolder;
            padding: 0.9rem 1.5rem;
            border-radius: 5rem;
            border: 2px solid white;
            margin: 0.5rem;
            background-color: transparent;
            color: white;
            cursor: pointer;
            transition: all 0.5s ease 0s;
            animation: 1.5s infinite normal heartbeat;
          }

          .game-start:hover {
            color: black;
            background-color: white;
          }

          @keyframes heartbeat {
            0% {
              transform: scale(1);
              transform-origin: center center;
            }
            50% {
              transform: scale(1.05);
            }
            100% {
              transform: scale(1);
              transform-origin: center center;
            }
          }
  
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #root {
    .welcome {
      .wrapper {
        .title-container {
          .main-title {
            font-size: 50px;
          }
        }
      }
    }
  }
}
