$gu-quiz-blue: #1976d2;

#root {
  .game {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: 100%;
      height: 80vh;
      background-color: black;

      .gu-img {
        position: absolute;
        width: 100%;
        height: 80vh;
        object-fit: cover;
        opacity: 0.4;
      }

      .score-container {
        position: absolute;
        padding-top: 20px;
        right: 20px;
        text-align: center;
        z-index: 2;

        .ur-score-is {
          font-size: 1.5rem;
          font-weight: bolder;
          color: white;
        }

        .score {
          font-size: 2.5rem;
          font-weight: bolder;
          color: white;
          cursor: default;
          transition: 0.3s;
        }

        .score:hover {
          transform: scale(1.3);
        }

      }

      .map-icon {
        position: absolute;
        padding-top: 20px;
        left: 7px;
        transition: 0.5s;
        z-index: 2;
      }

      .map-icon :hover {
        opacity: 0.8;
      }

      .quiz-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        z-index: 2;

        .gu-name {
          font-size: 65px;
          font-weight: bold;
          color: white;
          margin-bottom: 10px;
          opacity: 0.9;
          z-index: inherit;
        }

        .hidden-hint {
          margin-bottom: 20px;
          font-weight: bold;
          color: gray;
        }

        .input-and-result {
          z-index: 2;
          height: 150px;

          .answer-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2rem;
            width: 20rem;
            background-color: rgba(250, 241, 241, 0.6);
  
            input {
              width: 100%;
              height: 100%;
              border: none;
              font-size: 1.1rem;
              font-weight: bolder;
              background-color: transparent;
              padding: 0px 20px;
            }
  
            input::placeholder {
              color: rgb(94, 91, 91);
            }
  
            input:focus {
              outline: none;
            }
  
            .submit-btn {
              min-width: 6rem;
              font-size: 1.1rem;
              font-weight: bolder;
              padding: 0.7rem 0.9rem;
              border-radius: 2rem;
              border: 2px solid white;
              background-color: white;
              opacity: 0.8;
              color: gray;
              cursor: pointer;
              transition: all 0.5s ease 0s;
            }
  
            .submit-btn:hover {
              color: white;
              border-color: $gu-quiz-blue;
              background-color: $gu-quiz-blue;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #root {
    .game {
      .wrapper {
        .score-container {
          .ur-score-is {
            font-size: 1rem;
          }
          .score {
            font-size: 1.5rem;
          }
        }
        .quiz-container {
          .gu-name {
            font-size: 50px;
          }

          .answer-container {
            width: 18rem;
          }
        }
      }
    }
  }
}