#root .game {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .game .wrapper {
  width: 100%;
  height: 80vh;
  background-color: black;
}

#root .game .wrapper .gu-img {
  position: absolute;
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

#root .game .wrapper .score-container {
  position: absolute;
  padding-top: 20px;
  right: 20px;
  z-index: 2;
}

#root .game .wrapper .score-container .ur-score-is {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

#root .game .wrapper .score-container .score {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  cursor: default;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#root .game .wrapper .score-container .score:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#root .game .wrapper .map-icon {
  position: absolute;
  padding-top: 15px;
  left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

#root .game .wrapper .map-icon :hover {
  opacity: 0.8;
}

#root .game .wrapper .quiz-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

#root .game .wrapper .quiz-container .gu-name {
  font-size: 65px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
}

#root .game .wrapper .quiz-container .hidden-hint {
  margin-bottom: 20px;
  font-weight: bold;
  color: gray;
}

#root .game .wrapper .quiz-container .answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
  width: 20rem;
  background-color: rgba(250, 241, 241, 0.7);
  z-index: 2;
}

#root .game .wrapper .quiz-container .answer-container input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: transparent;
  padding: 0px 20px;
}

#root .game .wrapper .quiz-container .answer-container input::-webkit-input-placeholder {
  color: #5e5b5b;
}

#root .game .wrapper .quiz-container .answer-container input:-ms-input-placeholder {
  color: #5e5b5b;
}

#root .game .wrapper .quiz-container .answer-container input::-ms-input-placeholder {
  color: #5e5b5b;
}

#root .game .wrapper .quiz-container .answer-container input::placeholder {
  color: #5e5b5b;
}

#root .game .wrapper .quiz-container .answer-container input:focus {
  outline: none;
}

#root .game .wrapper .quiz-container .answer-container .submit-btn {
  min-width: 6rem;
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.7rem 0.9rem;
  border-radius: 2rem;
  border: 2px solid white;
  background-color: white;
  opacity: 0.8;
  color: gray;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

#root .game .wrapper .quiz-container .answer-container .submit-btn:hover {
  color: white;
  border-color: #1976d2;
  background-color: #1976d2;
}
/*# sourceMappingURL=index.css.map */